@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-3;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply cursor-pointer border-2 border-solid border-zinc-900 bg-orange-400 hover:bg-orange-500;
}

input {
  color-scheme: dark;
}

.bg-gradient {
  background: #30e8bf;
  background: linear-gradient(to right, #30e8bf, #ff8235);
  background-size: 200% 200%;
  animation: bgGradient 20s ease infinite;
}
@keyframes bgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}

.shimmer {
  background: #3f3f46;
  background: linear-gradient(-45deg, #3f3f46 40%, #71717a 50%, #3f3f46 60%);
  background-size: 400%;
  animation: shimmer 1s ease-in-out infinite;
}
@keyframes shimmer {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
